.crumbs {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 10px 0 0;
  @include r(1200) {
    margin-bottom: 20px;
  }
  li {
    display: inline-block;
    @include r(600) {
      font-size: 12px;
      margin-bottom: 8px;
    }
    a {
      border-bottom: 1px solid $dark;
    }
    &:not(:last-child) {
      position: relative;
      margin-right: 10px;
      @include r(600) {
        margin-right: 5px;
      }
      &::after {
        content: '';
        width: 17px;
        height: 7px;
        display: inline-block;
        background-image: url('../img/icon--arrow.svg');
        margin-left: 10px;
        @include ct;
        @include r(600) {
          margin-left: 5px;
        }
      }
    }
    &:last-child {
      span {
        color: #000;
        border-bottom: 1px solid #000;
      }
    }
  }
}