<section class="section--inner about">
    <svg width="1287" height="657" class="about__decor">
        <use xlink:href="#section__decor--3"></use>
    </svg>
    <div class="container">
        <div class="about__bg"></div>
        <div class="about__in">
            <div class="section__ttl">О нас</div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="about__list d-flex flex-column align-items-start">
                        <div class="about__list-item d-flex align-items-center" data-about="1">
                            <span class="mr-2 mr-xl-3">Свое производство</span>
                            <button class="about__list-btn" data-src="about__popup_1" data-fancybox type="button">
                                <svg width="8" height="14" fill="#262626">
                                    <use xlink:href="#icon__question"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="about__list-item d-flex align-items-center" data-about="2">
                            <span class="mr-2 mr-xl-3">Надежные партнеры</span>
                            <button class="about__list-btn" data-src="about__popup_1" data-fancybox type="button">
                                <svg width="8" height="14" fill="#262626">
                                    <use xlink:href="#icon__question"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="about__list-item d-flex align-items-center" data-about="3">
                            <span class="mr-2 mr-xl-3">Лицензионные материалы</span>
                            <button class="about__list-btn" data-src="about__popup_1" data-fancybox type="button">
                                <svg width="8" height="14" fill="#262626">
                                    <use xlink:href="#icon__question"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="about__list-item d-flex align-items-center" data-about="4">
                            <span class="mr-2 mr-xl-3">Гарантия качества</span>
                            <button class="about__list-btn" data-src="about__popup_1" data-fancybox type="button">
                                <svg width="8" height="14" fill="#262626">
                                    <use xlink:href="#icon__question"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="about__list-item d-flex align-items-center" data-about="5">
                            <span class="mr-2 mr-xl-3">Безопасная сделка</span>
                            <button class="about__list-btn" data-src="about__popup_1" data-fancybox type="button">
                                <svg width="8" height="14" fill="#262626">
                                    <use xlink:href="#icon__question"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="about__list-item d-flex align-items-center" data-about="6">
                            <span class="mr-2 mr-xl-3">Квалифицированные специалисты с&nbsp;большим опытом</span>
                            <button class="about__list-btn" data-src="about__popup_1" data-fancybox type="button">
                                <svg width="8" height="14" fill="#262626">
                                    <use xlink:href="#icon__question"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <button class="btn mt-3 mt-xl-5" data-fancybox data-src="#popup_call" type="button">Получить консультацию</button>
                </div>
                <div class="col-xl-6 d-none d-xl-block">
                    <div class="about__image-wrapper">
                        <img src="{{root}}assets/img/about__img_1.png" data-about="1" alt="About" class="about__image active">
                        <img src="{{root}}assets/img/about__img_1.png" data-about="2" alt="About" class="about__image">
                        <img src="{{root}}assets/img/about__img_1.png" data-about="3" alt="About" class="about__image">
                        <img src="{{root}}assets/img/about__img_1.png" data-about="4" alt="About" class="about__image">
                        <img src="{{root}}assets/img/about__img_1.png" data-about="5" alt="About" class="about__image">
                        <img src="{{root}}assets/img/about__img_1.png" data-about="6" alt="About" class="about__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>