<section class="section_inner blog">
    <svg class="blog__decor blog__decor--1" width="250" height="330">
        <use xlink:href="#section__decor--1"></use>
    </svg>
    <svg class="blog__decor blog__decor--2" width="119" height="205">
        <use xlink:href="#section__decor--2"></use>
    </svg>
    <div class="container">
        <div class="section__top">
            <div class="section__ttl">Полезные материалы</div>
        </div>
        <div class="row">
            {{> blog__item}}
            {{> blog__item}}
            {{> blog__item}}
            {{> blog__item}}
        </div>
        <div class="d-flex justify-content-center mt-3 mt-xl-4">
            <a class="btn" href="#">Все статьи</a>
        </div>
    </div>
</section>