<div class="cat">
    <div class="cat__in">
        <div class="cat__in-row">
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="52" height="52" class="cat__item-icon">
                        <use xlink:href="#cat__item_1"></use>
                    </svg>
                </div>
                <span>Печать на&nbsp;ткани</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="58" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_2"></use>
                    </svg>
                </div>
                <span>Флаги</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="52" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_3"></use>
                    </svg>
                </div>
                <span>Флаг парус, виндер, капля</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="53" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_4"></use>
                    </svg>
                </div>
                <span>Флажки настольные</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="50" height="66" class="cat__item-icon">
                        <use xlink:href="#cat__item_5"></use>
                    </svg>
                </div>
                <span>Флаги стран и городов</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="72" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_6"></use>
                    </svg>
                </div>
                <span>Флаг победы</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="70" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_7"></use>
                    </svg>
                </div>
                <span>Баннеры на&nbsp;ткани</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="68" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_8"></use>
                    </svg>
                </div>
                <span>Фоны для&nbsp;кино и&nbsp;театров</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="50" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_9"></use>
                    </svg>
                </div>
                <span>Вымпелы</span>
            </a>
        </div>
        <div class="cat__in-row cat__in-row--hidden">
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="50" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_1"></use>
                    </svg>
                </div>
                <span>Печать на&nbsp;ткани</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="58" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_2"></use>
                    </svg>
                </div>
                <span>Флаги</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="52" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_3"></use>
                    </svg>
                </div>
                <span>Флаг парус, виндер, капля</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="53" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_4"></use>
                    </svg>
                </div>
                <span>Флажки настольные</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="50" height="66" class="cat__item-icon">
                        <use xlink:href="#cat__item_5"></use>
                    </svg>
                </div>
                <span>Флаги стран и городов</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="72" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_6"></use>
                    </svg>
                </div>
                <span>Флаг победы</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="70" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_7"></use>
                    </svg>
                </div>
                <span>Баннеры на&nbsp;ткани</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="68" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_8"></use>
                    </svg>
                </div>
                <span>Фоны для&nbsp;кино и&nbsp;театров</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="50" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_9"></use>
                    </svg>
                </div>
                <span>Вымпелы</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="50" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_1"></use>
                    </svg>
                </div>
                <span>Печать на&nbsp;ткани</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="58" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_2"></use>
                    </svg>
                </div>
                <span>Флаги</span>
            </a>
            <a class="cat__item" href="#">
                <div class="cat__item-top">
                    <svg width="52" height="50" class="cat__item-icon">
                        <use xlink:href="#cat__item_3"></use>
                    </svg>
                </div>
                <span>Флаг парус, виндер, капля</span>
            </a>
        </div>
    </div>
    <button class="cat__btn" type="button">
        <div class="cat__btn-top btn">
            <svg width="34" height="50" class="cat__btn-icon">
                <use xlink:href="#cat__btn-arr"></use>
            </svg>
        </div>
        <span>Смотреть все</span>
    </button>
</div>