<section class="section--inner feed--inner">
    <div class="container">
        <div class="section__ttl">Не нашли нужную информацию?</div>
        <div class="section__subttl">Заполните форму и получите подробную консультацию в течение 5 мин!</div>
        <form class="feed--inner__form d-flex flex-column align-items-center">
            <div class="row mb-3">
                <div class="col-xl-6 mb-3 mb-xl-0">
                    <input class="w-100" type="text" placeholder="Ваше имя">
                </div>
                <div class="col-xl-6">
                    <input class="w-100" type="tel" placeholder="Телефон">
                </div>
            </div>
            {{> policy}}
            <button class="btn" type="submit">Узнать больше</button>
        </form>
    </div>
</section>