<section class="section_inner feed">
    <div class="feed__decor--2"></div>
    <svg width="1287" height="657" class="feed__decor">
        <use xlink:href="#section__decor--3"></use>
    </svg>
    <div class="container">
        <div class="feed__bg"></div>
        <div class="feed__in">
            <div class="section__top">
                <div class="section__ttl">Не нашли нужную информацию?</div>
                <div class="section__subttl">Заполните форму и&nbsp;получите подробную консультацию
                    в&nbsp;течение 5&nbsp;мин!</div>
            </div>
            <form class="feed__form d-flex flex-column align-items-center">
                <div class="row mb-3 mb-sm-4">
                    <div class="col-sm-6 mb-2 mb-sm-0">
                        <input class="w-100" type="text" placeholder="Ваше имя">
                    </div>
                    <div class="col-sm-6 mb-2 mb-sm-0">
                        <input class="w-100" type="tel" placeholder="Ваш телефон">
                    </div>
                </div>
                {{> policy}}
                <button class="btn mt-2 mt-sm-4" type="submit">Узнать больше</button>
            </form>
        </div>
    </div>
</section>