<footer class="footer">
    <div class="footer__decor"></div>
    <div class="container">
        <nav class="footer__nav d-none d-xl-flex justify-content-between align-items-center">
            <a class="footer__nav-link footer__link" href="#">Услуги</a>
            <span class="footer__nav-border"></span>
            <a class="footer__nav-link footer__link" href="#">О нас</a>
            <span class="footer__nav-border"></span>
            <a class="footer__nav-link footer__link" href="#">Сделать заказ</a>
            <span class="footer__nav-border"></span>
            <a class="footer__nav-link footer__link" href="#">Требования к макетам</a>
            <span class="footer__nav-border"></span>
            <a class="footer__nav-link footer__link" href="#">Полезная информация</a>
            <span class="footer__nav-border"></span>
            <a class="footer__nav-link footer__link" href="#">Контакты</a>
            <span class="footer__nav-border"></span>
        </nav>
        <div class="d-flex flex-column flex-xl-row justify-content-between align-items-center py-3 py-sm-5">
            <div class="footer__logo-wrapper d-flex flex-column flex-xl-row align-items-center">
                <a href="#" class="footer__logo">
                    <svg width="170" height="40">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
                <div class="footer__logo-border d-none d-xl-block"></div>
                <div class="footer__logo-text mt-2 mt-xl-0">© 2013-2020 “Масифлаг” все права защищены</div>
            </div>
            <div class="my-3 my-xl-0"><span class="bold">Наш адрес:</span> г Москва Ул Важная д 88 офис 888</div>
            <div class="d-flex flex-column">
                <a class="footer__tel footer__link" href="tel:89123456789">8 9123 456 789</a>
                <a class="footer__tel footer__link" href="tel:89123456789">8 9123 456 789</a>
            </div>
        </div>
        <div class="d-flex flex-column flex-xl-row justify-content-between align-items-center">
            <div class="d-flex flex-column align-items-center flex-sm-row">
                <a class="footer__link und mr-sm-4 mb-2 mb-sm-0" href="#">Пользовательское соглашение</a>
                <a class="footer__link und mr-sm-4 mb-2 mb-sm-0" href="#">Политика конфиденциальности</a>
            </div>
            <a class="footer__akticom footer__link d-flex align-items-center mt-3 mt-xl-0" href="http://akticom.ru/" target="_blank">
                <span class="mr-3 und">Сделано руками</span>
                <svg width="80" height="31">
                    <use xlink:href="#akticom-logo"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>