<section class="section--inner steps">
    <svg width="1287" height="657" class="steps__decor">
        <use xlink:href="#section__decor--3"></use>
    </svg>
    <div class="container">
        <div class="steps__bg"></div>
        <div class="steps__in">
            <div class="row">
                <div class="col-xl-8">
                    <div class="section__ttl">Только нужные действия</div>
                    <div class="row mb-4 mb-xl-5">
                        <div class="col-xl-3 col-sm-6 col-6 mb-5 mb-xl-0">
                            <div class="steps__item">
                                <svg class="steps__item-num" width="44" height="67">
                                    <use xlink:href="#steps__item-num_1"></use>
                                </svg>
                                <div class="steps__item-top">
                                    <svg class="steps__item-icon" width="98" height="97">
                                        <use xlink:href="#steps__item-icon_1"></use>
                                    </svg>
                                    <button class="steps__item-btn" data-src="#steps__popup_1" data-fancybox type="button">
                                        <svg width="8" height="14" fill="#262626">
                                            <use xlink:href="#icon__question"></use>
                                        </svg>
                                    </button>
                                </div>
                                <span>Консультация</span>
                                <!--steps popup-->
                                <div id="steps__popup_1" class="popup__container" style="display:none">
                                    <div  class="popup__wrp popup_call__wrp popup_steps__wrp">
                                        <div class="popup">
                                            <svg class="steps__item-icon" width="98" height="97" fill="#000">
                                                <use xlink:href="#steps__item-icon_1"></use>
                                            </svg>
                                            <h3 class="popup__ttl mt-2 mt-xl-3">Консультация</h3>
                                            <p>Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании систем массового участия.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/steps popup-->
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-6 mb-5 mb-xl-0">
                            <div class="steps__item">
                                <svg class="steps__item-num" width="58" height="68">
                                    <use xlink:href="#steps__item-num_2"></use>
                                </svg>
                                <div class="steps__item-top">
                                    <svg class="steps__item-icon" width="98" height="97">
                                        <use xlink:href="#steps__item-icon_2"></use>
                                    </svg>
                                    <button class="steps__item-btn" data-src="#steps__popup_2" data-fancybox type="button">
                                        <svg width="8" height="14" fill="#262626">
                                            <use xlink:href="#icon__question"></use>
                                        </svg>
                                    </button>
                                </div>
                                <span>Согласование</span>
                                <!--steps popup-->
                                <div id="steps__popup_2" class="popup__container" style="display:none">
                                    <div  class="popup__wrp popup_call__wrp popup_steps__wrp">
                                        <div class="popup">
                                            <svg class="steps__item-icon" width="98" height="97" fill="#000">
                                                <use xlink:href="#steps__item-icon_2"></use>
                                            </svg>
                                            <h3 class="popup__ttl mt-2 mt-xl-3">Согласование</h3>
                                            <p>Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании систем массового участия.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/steps popup-->
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-6 mb-5 mb-xl-0">
                            <div class="steps__item">
                                <svg class="steps__item-num" width="59" height="70">
                                    <use xlink:href="#steps__item-num_3"></use>
                                </svg>
                                <div class="steps__item-top">
                                    <svg class="steps__item-icon" width="98" height="97">
                                        <use xlink:href="#steps__item-icon_3"></use>
                                    </svg>
                                    <button class="steps__item-btn" data-src="#steps__popup_3" data-fancybox type="button">
                                        <svg width="8" height="14" fill="#262626">
                                            <use xlink:href="#icon__question"></use>
                                        </svg>
                                    </button>
                                </div>
                                <span>Оплата</span>
                                <!--steps popup-->
                                <div id="steps__popup_3" class="popup__container" style="display:none">
                                    <div  class="popup__wrp popup_call__wrp popup_steps__wrp">
                                        <div class="popup">
                                            <svg class="steps__item-icon" width="98" height="97" fill="#000">
                                                <use xlink:href="#steps__item-icon_3"></use>
                                            </svg>
                                            <h3 class="popup__ttl mt-2 mt-xl-3">Оплата</h3>
                                            <p>Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании систем массового участия.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/steps popup-->
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-6 mb-5 mb-xl-0">
                            <div class="steps__item">
                                <svg class="steps__item-num" width="61" height="67">
                                    <use xlink:href="#steps__item-num_4"></use>
                                </svg>
                                <div class="steps__item-top">
                                    <svg class="steps__item-icon" width="93" height="93">
                                        <use xlink:href="#steps__item-icon_4"></use>
                                    </svg>
                                    <button class="steps__item-btn" data-src="#steps__popup_4" data-fancybox type="button">
                                        <svg width="8" height="14" fill="#262626">
                                            <use xlink:href="#icon__question"></use>
                                        </svg>
                                    </button>
                                </div>
                                <span>Получение</span>
                                <!--steps popup-->
                                <div id="steps__popup_4" class="popup__container" style="display:none">
                                    <div  class="popup__wrp popup_call__wrp popup_steps__wrp">
                                        <div class="popup">
                                            <svg class="steps__item-icon" width="98" height="97" fill="#000">
                                                <use xlink:href="#steps__item-icon_4"></use>
                                            </svg>
                                            <h3 class="popup__ttl mt-2 mt-xl-3">Получение</h3>
                                            <p>Равным образом постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. С другой стороны начало повседневной работы по формированию позиции играет важную роль в формировании систем массового участия.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/steps popup-->
                            </div>
                        </div>
                    </div>
                    <form class="steps__form">
                        <div class="row mb-3">
                            <div class="col-xl-4 col-sm-6 mb-2 mb-xl-0">
                                <input class="w-100" type="text" placeholder="Ваше имя">
                            </div>
                            <div class="col-xl-4 col-sm-6 mb-2 mb-xl-0">
                                <input class="w-100" type="text" placeholder="Тип изделия">
                            </div>
                            <div class="col-xl-4 col-sm-6 mb-2 mb-xl-0">
                                <input class="w-100" type="tel" placeholder="Телефон">
                            </div>
                        </div>
                        {{> policy}}
                        <button class="btn" type="submit">Узнать больше</button>
                    </form>
                </div>
                <div class="col-xl-4 d-none d-xl-block">
                    <div class="steps__image-wrapper">
                        <div class="steps__image-decor"></div>
                        <img src="{{root}}assets/img/steps__image.png" alt="Sale" class="steps__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>