<section class="section--inner test">
    <svg class="test__decor test__decor--1" width="250" height="330">
        <use xlink:href="#section__decor--1"></use>
    </svg>
    <svg class="test__decor test__decor--2" width="119" height="205">
        <use xlink:href="#section__decor--2"></use>
    </svg>
    <div class="container">
        <div class="section__top">
            <div class="section__ttl">Достигните максимальной отдачи без дополнительных забот с максифлаг!</div>
            <div class="section__subttl">Выполним работу быстро и качественно!</div>
        </div>
        <div class="d-flex flex-wrap justify-content-center justify-content-xl-between align-items-start">
            <div class="test__item">
                <div class="test__item-top">
                    <svg width="102" height="118" class="test__item-icon">
                        <use xlink:href="#test__item_1"></use>
                    </svg>
                </div>
                <span>Профессионалы с&nbsp;большим опытом</span>
            </div>
            <div class="test__item">
                <div class="test__item-top">
                    <svg width="120" height="120" class="test__item-icon">
                        <use xlink:href="#test__item_2"></use>
                    </svg>
                </div>
                <span>Печать при&nbsp;вас</span>
            </div>
            <div class="test__item">
                <div class="test__item-top">
                    <svg width="94" height="120" class="test__item-icon">
                        <use xlink:href="#test__item_3"></use>
                    </svg>
                </div>
                <span>Транспортная доступность</span>
            </div>
            <div class="test__item">
                <div class="test__item-top">
                    <svg width="73" height="118" class="test__item-icon">
                        <use xlink:href="#test__item_4"></use>
                    </svg>
                </div>
                <span>Бесплатная стоянка</span>
            </div>
            <div class="test__item">
                <div class="test__item-top">
                    <svg width="102" height="117" class="test__item-icon">
                        <use xlink:href="#test__item_5"></use>
                    </svg>
                </div>
                <span>Работаем в&nbsp;выходные и&nbsp;праздничные дни</span>
            </div>
        </div>
        <div class="test__promo">Свобода цветовых решений , свобода движения к цели.</div>
    </div>
</section>