@import "mixins";
@import "fonts";
@import "common/fonts";
@import "common/colors";
@import "common/one-classes";
@import "common/selections";
@import "common/states";
@import "common/inputs";
@import "common/list";
@import "common/links";
@import "common/buttons";
@import "common/checkbox";
@import "common/section";
@import "common/popup";
@import "common/owl-custom";

html, body {
  position: relative;
  font-family: $p-reg, Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: $dark;
  background-color: #E5E5E5;
  padding: 0;
  margin: 0;
  max-width: 100%;
  &.fixed {
    overflow: hidden;
    padding-right: 15px;
  }
  @include r(1200) {
    font-size: 14px;
  }
}
.body__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fcfcfca3;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  @include easeinout;
  cursor: pointer;
}
.svg-sprite {
  position: absolute;
  bottom: 0;
}
.content {
  &__wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  &__in {
    position: relative;
    flex-grow: 1;
    .section--inner {
      position: relative;
    }
    &-decor {
      position: absolute;
      &--1 {
        left: 0;
        bottom: 100px;
        transform: scale(-1,-1);
      }
      &--2 {
        top: 25px;
        right: 0;
        transform: scale(-1,-1);
      }
    }
    .container {
      position: relative;
    }
  }
}